@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Helvetica";
  src: url("./../fonts/Helvetica.ttf");
}
:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background: #E5E5E5;
}